/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
table.ddwc-dashboard {
    border: 1px solid #DDD;
}

table.ddwc-dashboard thead {
    background: #f1f1f1;
    font-weight: 700;
}

table.ddwc-dashboard td {
    padding: 10px;
}

table.ddwc-dashboard tr {
    border-bottom: 1px solid #f1f1f1;
}

table.ddwc-dashboard tr:last-child {
    border-bottom: 0;
}

table.ddwc-dashboard tr.delivery-charge,
table.ddwc-dashboard tr.order-total {
    background: #f1f1f1;
}

.ddwc-dashboard tbody {
    font-size: 14px;
}

h3.ddwc {
    margin-top: 0;
    margin-bottom: 24px;
}

h3.ddwc {
    position: relative;
}

h3.ddwc span {
    background: transparent;
    border-radius: 3px;
    border: 1px solid #454545;
    color: #454545;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 6px 12px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
}

h3.ddwc span.completed {
    border-color: #76bd1d;
    color: #76bd1d;
}

h3.ddwc span.out-for-delivery {
    color: #56A8C7;
    border-color: #56A8C7;
}

h3.ddwc span.cancelled,
h3.ddwc span.refunded,
h3.ddwc span.failed {
    color: #C94C42;
    border-color: #C94C42;
}

/* Button Defaults */

a.button.ddwc-button {
    background: #222;
    padding: 0.75em 2em;
    border-radius: 3px;
    color: #FFF;
    font-weight: 600;
}

a.button.ddwc-button:hover,
a.button.ddwc-button:focus,
a.button.ddwc-button:active {
    background: #767676;
    color: #ffffff;
    border: 0;
    box-shadow: none;
}

.ddwc-display-options {
    font-size: 14px;
    float: left;
    line-height: 1;
    margin-bottom: 12px;
    padding: 5px;
    width: 100%;
}