/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
table.ddwc-dashboard {
    border: 1px solid #DDD;
}

table.ddwc-dashboard thead {
    background: #f1f1f1;
    font-weight: 700;
}

table.ddwc-dashboard td {
    padding: 10px;
}

table.ddwc-dashboard tr {
    border-bottom: 1px solid #f1f1f1;
}

table.ddwc-dashboard tr:last-child {
    border-bottom: 0;
}

table.ddwc-dashboard tr.delivery-charge,
table.ddwc-dashboard tr.order-total {
    background: #f1f1f1;
}

.ddwc-dashboard {
    font-size: 14px;
}

h3.ddwc {
    margin-top: 0;
    margin-bottom: 24px;
}

h3.ddwc {
    position: relative;
}

h3.ddwc span {
    background: transparent;
    border-radius: 3px;
    border: 1px solid #454545;
    color: #454545;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 6px 12px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
}

h3.ddwc span.completed {
    border-color: #76bd1d;
    color: #76bd1d;
}

h3.ddwc span.out-for-delivery {
    color: #56A8C7;
    border-color: #56A8C7;
}

h3.ddwc span.cancelled,
h3.ddwc span.refunded,
h3.ddwc span.failed {
    color: #C94C42;
    border-color: #C94C42;
}

p.ddwc-map-api-error-msg {
    background: #C94C42;
    color: #FFF;
    font-size: 14px;
    padding: 10px;
}

p.ddwc-map-api-error-msg a,
p.ddwc-map-api-error-msg a:visited {
    color: #FFF;
    text-decoration: underline;
}

p.ddwc-map-api-error-msg a:hover {
    color: #FFF;
    text-decoration: none;
}

/* Button Defaults */

a.button.ddwc-button {
    background: #222;
    padding: 0.75em 2em;
    border-radius: 3px;
    color: #FFF;
    font-weight: 600;
}

a.button.ddwc-button:hover,
a.button.ddwc-button:focus,
a.button.ddwc-button:active {
    background: #767676;
    color: #ffffff;
    border: 0;
    box-shadow: none;
}

.ddwc-display-options {
    font-size: 14px;
    float: left;
    line-height: 1;
    margin-bottom: 12px;
    padding: 5px;
    width: 100%;
}

/** Driver Details on Order page */

.ddwc-driver-picture {
    position: relative;
    width: 140px;
    display: inline-block;
}

button.remove-ddwc-driver-picture {
    background: #FF0000;
    border: 0;
    color: #FFF;
    border-radius: 50%;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1px;
    padding: 10px 6.61px;
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
}

button.remove-ddwc-driver-picture:hover {
    background: #DF0000;
    color: #FFF;
}

.ddwc-driver-details {
    position: relative;
    float: left;
    width: 100%;
}

.ddwc-driver-details img,
.ddwc-driver-picture img {
    float: left;
    height: auto;
    margin: 0 12px 24px 0 !important;
    width: 140px;
}

.ddwc-driver-details h4,
.ddwc-driver-details p {
    margin-bottom: 12px !important;
}

.woocommerce-order-details :last-child,
table.ddwc-driver-details {
    margin-bottom: 12px !important;
}

table.ddwc-driver-details tr {
    border: 1px solid #ddd;
}

table.ddwc-driver-details tr td {
    padding: 10px;
}

/** Bar Rating */

.br-theme-fontawesome-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
    content: '\f005';
    color: #d2d2d2;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
    color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
    display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
    cursor: default;
}
@media print {
    .br-theme-fontawesome-stars .br-widget a:after {
        content: '\f006';
        color: black;
    }
    .br-theme-fontawesome-stars .br-widget a.br-active:after,
    .br-theme-fontawesome-stars .br-widget a.br-selected:after {
        content: '\f005';
        color: black;
    }
}

/** Driver's "Out for Delivery" message to administrators */

input.ddwc-ofdmsg {
    margin-bottom: 12px;
}

.ddwc-orders form input[type="submit"].ddwc-change-status {
    padding: 0.75em 1em;
}

.ddwc-orders form input[type="submit"].ddwc-change-status.order-returned {
    margin-right: 12px;
}

/** DDWC Pro SMS Updates title on checkout */

.ddwc-pro-sms-updates h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

/** Driver Dashboard - Driver availability */

.ddwc-availability {
    background: #eee;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
    .ddwc-availability {
        margin-top: 24px;
    }
}

.ddwc-availability h4 {
    font-size: 20px;
    display: inline-block;
    line-height: 34px;
    margin: 0 0 0 5px;
}
.ddwc-availability label.switch {
    float: right;
    margin-top: 2px;
}

/* The switch - the box around the slider */
.ddwc-availability .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

/* Hide default HTML checkbox */
.ddwc-availability .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.ddwc-availability .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.ddwc-availability .switch .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.ddwc-availability input:checked + .slider {
    background-color: #76bd1d;
}

.ddwc-availability input:focus + .slider {
    box-shadow: 0 0 1px #76bd1d;
}

.ddwc-availability input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

/* Rounded sliders */
.ddwc-availability .switch .slider.round {
    border-radius: 22px;
}

.ddwc-availability .switch .slider.round:before {
    border-radius: 50%;
}

/** Driver Dashboard - Admin - Delivery Drivers table */

table.ddwc-dashboard.delivery-drivers span.driver-status.unavailable {
    color: rgba(0,0,0,0.5);
}

table.ddwc-dashboard.delivery-drivers span.driver-status.available {
    color: #76bd1d;
    font-weight: bold;
}

table.ddwc-dashboard.delivery-drivers a.button.ddwc-button {
    background: #222222;
    padding: 0.75em;
}

table.ddwc-dashboard.delivery-drivers a.button.ddwc-button:hover {
    background: #767676;
}

table.ddwc-dashboard.delivery-drivers a.button.ddwc-button svg {
    fill: #FFF;
}

table.ddwc-dashboard.delivery-drivers a.button.ddwc-button:last-child:not(:first-child) {
    margin-left: 6px;
}
