/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
table.ddwc-dashboard {
    border: 1px solid #DDD;
}

table.ddwc-dashboard thead {
    background: #f1f1f1;
    font-weight: 700;
}

table.ddwc-dashboard td {
    padding: 10px;
}

table.ddwc-dashboard tr {
    border-bottom: 1px solid #f1f1f1;
}

table.ddwc-dashboard tr:last-child {
    border-bottom: 0;
}

.ddwc-dashboard tbody {
    font-size: 14px;
}

h3.ddwc {
    margin-top: 0;
    margin-bottom: 12px;
}

h3.ddwc {
    position: relative;
}

h3.ddwc span {
    background: transparent;
    border-radius: 3px;
    border: 1px solid #454545;
    color: #454545;
    display: inline-block;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 6px 10px;
    position: absolute;
    top: 6px;
    text-transform: uppercase;
}

h3.ddwc span.completed {
    border-color: #76bd1d;
    color: #76bd1d;
}

h3.ddwc span.out-for-delivery {
    color: #56A8C7;
    border-color: #56A8C7;
}

h3.ddwc span.cancelled,
h3.ddwc span.refunded,
h3.ddwc span.failed {
    color: #C94C42;
    border-color: #C94C42;
}