/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
table.ddwc-dashboard {
    border: 1px solid #DDD;
}

table.ddwc-dashboard thead {
    background: #f1f1f1;
    font-weight: 700;
}

table.ddwc-dashboard td {
    padding: 10px;
}

table.ddwc-dashboard tr {
    border-bottom: 1px solid #f1f1f1;
}

table.ddwc-dashboard tr:last-child {
    border-bottom: 0;
}

table.ddwc-dashboard tr.delivery-charge,
table.ddwc-dashboard tr.order-total {
    background: #f1f1f1;
}

.ddwc-dashboard tbody {
    font-size: 14px;
}

h3.ddwc {
    margin-top: 0;
    margin-bottom: 24px;
}

h3.ddwc {
    position: relative;
}

h3.ddwc span {
    background: transparent;
    border-radius: 3px;
    border: 1px solid #454545;
    color: #454545;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 6px 12px;
    position: absolute;
    top: 0;
    text-transform: uppercase;
}

h3.ddwc span.completed {
    border-color: #76bd1d;
    color: #76bd1d;
}

h3.ddwc span.out-for-delivery {
    color: #56A8C7;
    border-color: #56A8C7;
}

h3.ddwc span.cancelled,
h3.ddwc span.refunded,
h3.ddwc span.failed {
    color: #C94C42;
    border-color: #C94C42;
}

/* Button Defaults */

a.button.ddwc-button {
    background: #222;
    padding: 0.75em 2em;
    border-radius: 3px;
    color: #FFF;
    font-weight: 600;
}

a.button.ddwc-button:hover,
a.button.ddwc-button:focus,
a.button.ddwc-button:active {
    background: #767676;
    color: #ffffff;
    border: 0;
    box-shadow: none;
}

.ddwc-display-options {
    font-size: 14px;
    float: left;
    line-height: 1;
    margin-bottom: 12px;
    padding: 5px;
    width: 100%;
}

/** Driver Details on Order page */

.ddwc-driver-picture {
    position: relative;
    width: 140px;
    display: inline-block;
}

button.remove-ddwc-driver-picture {
    background: #FF0000;
    border: 0;
    color: #FFF;
    border-radius: 50%;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1px;
    padding: 10px 6.61px;
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
}

button.remove-ddwc-driver-picture:hover {
    background: #DF0000;
    color: #FFF;
}

.ddwc-driver-details {
    position: relative;
    float: left;
    width: 100%;
}

.ddwc-driver-details img,
.ddwc-driver-picture img {
    float: left;
    height: auto;
    margin: 0 12px 24px 0 !important;
    width: 140px;
}

.ddwc-driver-details h4,
.ddwc-driver-details p {
    margin-bottom: 12px !important;
}

/** Bar Rating */

.br-theme-fontawesome-stars .br-widget {
    height: 28px;
    white-space: nowrap;
}
.br-theme-fontawesome-stars .br-widget a {
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}
.br-theme-fontawesome-stars .br-widget a:after {
    content: '\f005';
    color: #d2d2d2;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
    color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: #EDB867;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
    display: none;
}
.br-theme-fontawesome-stars .br-readonly a {
    cursor: default;
}
@media print {
    .br-theme-fontawesome-stars .br-widget a:after {
        content: '\f006';
        color: black;
    }
    .br-theme-fontawesome-stars .br-widget a.br-active:after,
    .br-theme-fontawesome-stars .br-widget a.br-selected:after {
        content: '\f005';
        color: black;
    }
}