/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.forminp span.description {
    display: block;
}

.ddwc-driver-picture {
    position: relative;
    width: 140px;
    display: inline-block;
}

.ddwc-remove-driver-picture {
    background: #FF0000;
    border: 0;
    color: #FFF;
    border-radius: 50%;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1px;
    padding: 10px 6.61px;
    position: absolute;
    top: -5px;
    right: -5px;
    text-align: center;
}

.ddwc-remove-driver-picture:hover {
    background: #DF0000;
    color: #FFF;
    cursor: pointer;
}

.ddwc-driver-picture img {
    height: auto;
}